{% extends "layout.html" %}

{% block head %}
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.bg.css') }}">
{% endblock %}

{% block title %}
    home
{% endblock %}

{% block main %}
    <div class="container">
        <div class="index-top">
            <h1>
                Hi, I'm Alex - a CPA &
                <br>
                data analyst from NJ.
            </h1>
            <h1>
                🪐📀🐍🍓🤌☕📺🍰
            </h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
            <b>✉️ </b><a class="ac-email" href="mailto:alex.cannellos@gmail.com">alex.cannellos@gmail.com</a>
        </div>
    </div>

    <div class="container">
        <div class="spacer-lg"></div>
    </div>

    <div class="container">
        <div class="ac-footer">
            <p>
                &sim;2022&sim;
                <br>
                apple, Kurt Vonnegut <i>Breakfast of Champions</i>
            </p>
        </div>
    </div>
{% endblock %}