{% extends "layout.html" %}

{% block head %}
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.active.css') }}">
    <script>
        const movies = {{ imdb | tojson }};
    </script>
{% endblock %}

{% block title %}
    movies
{% endblock %}

{% block main %}
    <div class="container">
        <div class="page-top">
            <h1>🎬 movie watchlist</h1>
            <p>a searchable list of movies to watch, inspired by <i><a class="ac-a" href="https://www.youtube.com/watch?v=-UKbwz6s6VY">SNL</a></i></p>
        </div>
        <div>
            <p>sort by :</p>
        </div>
        <br>
        <table>
            <tr>
                <th>title</th>
                <th>year</th>
                <th>director</th>
                <th>runtime</th>
                <th>genres</th>
                <th>rating</th>
                <th>remove</th>
            </tr>
            <tr>
                <td>for loop</td>
            </tr>
        </table>
        <br>
        <div>
            <p class="ac-footer"><b>🍿</b><i>provided by <a class="ac-imdb" href="https://www.imdb.com/interfaces/">IMDb</a></i></p>
        </div>

    <div class="container">
        <div class="spacer-sm"></div>
    </div>

    <div class="container">
        <h2>: search movies :</h2>
        <form action="" method="post" name="form">
            <div class="mb-2">
                <label for="runtime">max runtime :</label>
                <input type="number" name="runtime" placeholder="mins." min="{{ rmin }}" max="{{ rmax }}" size="3" step="10">
            </div>
            <div class="mb-2">
                <input type="text" name="title" placeholder="title">
                <input type="number" name="year" placeholder="year" min="{{ ymin }}" max="{{ ymax }}" size="4"><br>
            </div>
            <div class="mb-3">
                <input type="text" name="director" placeholder="director">
                <input type="text" name="genre" placeholder="genre">
            </div>
            <button type="submit" class="btn btn-outline-dark btn-sm">add to watchlist</button>
            <button type="reset" name="clear" class="btn btn-outline-dark btn-sm">clear</button>
        </form>
        <br>
        <table name='query'></table>
    </div>

    <script src="{{ url_for('static',filename='script.js') }}"></script>

    <div class="container">
        <div class="spacer-sm"></div>
    </div>

{% endblock %}