{% extends "layout.html" %}

{% block head %}
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.active.css') }}">
    <script>
        const movies = {{ imdb | tojson }};
    </script>
{% endblock %}

{% block title %}
    movies
{% endblock %}

{% block main %}
    <div class="container">
        <div class="page-top">
            <h1>🎬 movie watchlist</h1>
            <p>a searchable list of movies to watch, inspired by <i><a class="ac-a" href="https://www.youtube.com/watch?v=-UKbwz6s6VY">SNL</a></i></p>
        </div>
        <div>
            <p>sort by :</p>
        </div>
        <br>
        <table>
            <tr>
                <th>title</th>
                <th>year</th>
                <th>director</th>
                <th>runtime</th>
                <th>genres</th>
                <th>rating</th>
                <th>remove</th>
            </tr>
            <tr>
                <td>movie a</td>
                <td>1990</td>
                <td>bob</td>
                <td>90</td>
                <td>comedy</td>
                <td>9.0</td>
            </tr>
        </table>
        <br>
        <div>
            <p class="ac-footer"><b>🍿</b><i>provided by <a class="ac-imdb" href="https://www.imdb.com/interfaces/">IMDb</a></i></p>
        </div>

    <div class="container">
        <div class="spacer-sm"></div>
    </div>

    <div class="container">
        <h2>: add movie :</h2>
        <form action="" method="post">
            <div class="mb-2">
                <input type="text" name="title" placeholder="title">
                <input type="number" name="year" placeholder="year" min="{{ ymin }}" max="{{ ymax }}" size="4"><br>
            </div>
            <div class="mb-2">
                <input type="text" name="director" placeholder="director">
                <input type="number" name="runtime" placeholder="mins." min="0" max="{{ rmax }}" size="3" step="5">
            </div>
            <div class="mb-3">
                <select name="genre">
                    <option disabled selected value>genre</option>
                    <option value="dog">Dog</option>
                    <option value="cat">Cat</option>
                    <option value="hamster">Hamster</option>
                    <option value="parrot">Parrot</option>
                    <option value="spider">Spider</option>
                    <option value="goldfish">Goldfish</option>
                </select>
            </div>
            <button type="submit" class="btn btn-outline-dark btn-sm">add</button>
            <button type="reset" name="clear" class="btn btn-outline-dark btn-sm">clear</button>
        </form>
        <br>
        <table name='query'></table>
    </div>

    <script src="{{ url_for('static',filename='script.init.js') }}"></script>
    <script src="{{ url_for('static',filename='script.js') }}"></script>

    <div class="container">
        <div class="spacer-sm"></div>
    </div>

{% endblock %}